@model Lexicon_LMS.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Gruppdetaljer: @ViewBag.GroupName</h2>

    <div>
        @*<h4>Gruppdetaljer om gruppen: @ViewBag.GroupName</h4>*@
        <hr />
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.Teacher)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Teacher)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Ändra", "Edit", new { id = Model.GroupId }) <b>|</b>
        @Html.ActionLink("Till listan över mina grupper", "Index") <b>|</b>
        @Html.ActionLink("Tillbaka till Administrera", "AdministrateGroups")
    </p>
