@model IEnumerable<Lexicon_LMS.Models.Group>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.TeacherName:s grupper</h2>

<p>
    @Html.ActionLink("Lista samtliga grupper på Lexicon", "ListAllGroups")
</p>
<p>
    @Html.ActionLink("Skapa ny grupp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Teacher)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Index", "Courses", new { id = item.GroupId }, null)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>*@
        <td>
           
            
            @{
                string str = (string)item.Description;
                //str = str.Substring(0, 7); << vad händer om det bara finns 7 stycken tecken??
            }
            @str...
            @*@Html.DisplayFor(modelItem => item.Description)*@


        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.GroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GroupId })
        </td>
    </tr>
}

</table>
